/* searchBox 와 rentalBox 포함하는 div*/
.adminRentalContent{
    margin-top: 2%;
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
}

/* 검색박스 (select=> 진행상태&회사&분류, input=>날짜선택, div>input => 주문번호검색) */
.rentalSearchBox{
    display: flex;   
    height: 5%;
}

/* 초기화 div*/
.searchReset {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    gap: 0.5%;
}

/* 초기화 img */
.searchReset>img {
    width: 30px;
    border: none;
    height: 20px;
    box-sizing: border-box;
    border-radius: 8px; /* 모서리 둥글게 */
    padding: 5px; /* 내부 여백 */
    border: 1px solid #7F5539; /* 테두리 스타일 */
    height: 80%;
    font-family: 'Paperlogy';
    background-color: white;
}


/* 검색 div */
.rentalSearch{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    gap: 1%;
}

/* 검색 select, input, img */
.rentalSearch>select,
.rentalSearch>input, 
.rentalSearch>img {
    border: none;
    height: 20px;
    box-sizing: border-box;
    border-radius: 8px; /* 모서리 둥글게 */
    padding: 5px; /* 내부 여백 */
    border: 1px solid #7F5539; /* 테두리 스타일 */
    height: 80%;
    font-family: 'Paperlogy';
    background-color: white;
    color: #726f6f;
}


.rentalSearch>div {
    display: flex;
    align-items: center;
}

.rentalSearch>img {
    width: 33px;
    cursor: pointer;
}

/* 렌탈 박스 ( rentalItem, pagination ) */
.rentalBox {
    display: flex;
    flex-direction: column;
    height: 95%;
    border-radius: 10px;
    align-items: center;
    border: 1px solid #7F5539;
}

/* rentalItem */
.rentalSubBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 97%;
    height: 90%;
    margin: 1%;
    /* border: 1px solid red; */
}

.title {
    display: flex;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #7F5539;
}

.title>div>p,
.rentalItems>div>p {
    margin: 0;
}

.title>div,
.rentalItems>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.rentalItems {
    display: flex;
    width: 100%;
    height: 45px;
    border: 1px solid #7F5539;
    border-radius: 10px;
}

/* 페이지네이션 */
.pagination {
    display: flex;
    gap: 17px; 
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 5%;
    border-radius: 30px;
    border: 2px solid #7F5539;
    margin-top: auto;
    font-size: 1.1em;
    font-family: 'Paperlogy';
    margin-bottom: 1%;
}

.pagination span{
    cursor: pointer;
    
}

.pagination img {
    width: 20px;
    height: 20px;
}

